.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #373737;

    --primary-color: #0232c2;
    --secondary-color: #0449e0;

    --inverted-primary-color: #beb5b5;
    --inverted-secondary-color: #fff;
}
