.appLink {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    font-size: var(--font-size-l);
}

.appLink:hover {
    transform: scaleX(1.2);
}

.primary {
    color: var(--inverted-secondary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}
